doctype
//html
html
    head
        link(href= './css/screen.css', type="text/css", rel="stylesheet")
        link(href= './js/vendor/backgrid/lib/backgrid.css', type="text/css", rel="stylesheet")
        meta(http-equiv="content-type", content="text/html; charset=utf-8")
        title Blank template
    body
        block content
        //script(data-main="/js/app",  src= './js/vendor/jquery/dist/jquery.js')
        //script(data-main="/js/app",  src= './js/vendor/handlebars/handlebars.js')
        //script(data-main="/js/app",  src= './js/vendor/underscore/underscore.js')
        //script(data-main="/js/app",  src= './js/vendor/backbone/backbone.js')
        //
        //script(data-main="/js/app",  src= './js/backbone-pageable.js')
        //
        //script(data-main="/js/app",  src= './js/collection.js')
        //
        //script(data-main="/js/app",  src= './js/model.js')
        script(data-main="/js/admin/app",  src= './js/vendor/requirejs/require.js')
