extends _layout

block content
    .menu
        a.menu__item(href="#languages") languages
        a.menu__item(href="#words") words
        a.menu__item(href="#translates") translates
        a.menu__item(href="#words") dictionary
        a.menu__item(href="#words") groups
    #content.content