.menu
    padding 20px 10px
    &__item
        padding 10px

.list
    width: 90%
    margin 20px auto
    &__items
        padding 10px 0
        &__item
            row()
            &--head
                font-weight 600
                cursor pointer
                .list__items__item__col--remove:after
                    display none
            &__col
                grid(3)
                height 28px
                border 1px solid #ccc
                line-height 28px
                overflow hidden
                text-overflow ellipsis
                white-space nowrap
                padding: 0 10px
                &--remove
                    grid(1)
                    position relative
                    &:after
                        content 'x'
                        text-align center
                        display block
                        width 22px
                        height 22px
                        line-height 22px
                        cursor pointer
                        top 50%
                        left 50%
                        margin-left: -11px;
                        margin-top: -11px;
                        background #ccc
                        position absolute
                        border-radius 50%
    &--languages
        .list__items__item__col
            &--id
                grid(1)
            &--title
                grid(10)
    &--words
        .list__items__item__col
            &--id
                grid(1)
            &--name
                grid(5)
            &--language
                grid(5)
