.menu
    background #eee
    height 28px
    margin-bottom 20px
    &__item
        color #555
        height 28px
        line-height 28px
        padding 0 20px
        display inline-block
        text-decoration none
        &:hover
            color #555
            background #ddd


.content
    border 1px dashed #ddd
    width 95%
    margin 0 auto
    padding 10px
    .form-search
        width: 1024px

.table
    display table
    width 100%
    margin 10px
    border 1px dashed #ddd
.row
    display table-row
.cell
    width 200px
    overflow hidden
    display table-cell
    margin 2px
    padding 10px
    vertical-align middle
    text-overflow ellipsis
    border 1px solid #ddd

.cell-text
    display table-cell